/* *{
    margin: 0;
    padding: 0;
}
.button{
    background-color: aqua;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.cotenier{
    background-color: aqua ;
    border: 100px;
}
.box1{
    background-color: red;
    margin: 25px;
    padding: 25px;
    border-top: 10%;

   border-radius: 2%;
   
   border: 10px;
    border-color: black;
    color: rgb(222, 30, 30);
} */
