body{
    margin: 15px 0px 15px 0px;
    padding: 0px;
}

.card{
    display: flex;
    height: 125px;
    border: 2px solid;
    /* overflow: auto; */
}

.title{
    margin: 25px;
    padding: 24px;
    border: 2px solid;
}
.cname{
    margin: 25px;
    padding: 24px;
    border: 2px solid;
}
.views{
    margin: 25px;
    padding: 24px;
    border: 2px solid;
}
.monthOld{
    margin: 25px;
    padding: 24px;
    border: 2px solid;
}
.duration{
    margin: 25px;
    padding: 24px;
    border: 2px solid;
} 